
<tmpl-extend file="__VIEW__/public/layout.tmpl"/>

<tmpl-block name="body">
    <ul>
        <% state.list.forEach(function(item,index){ %>
        <li><%= item.title %> , <%= item.content %></li>
        <%});%>
        <% state.list.forEach(function(item,index){ %>
        <li><%= item.title %> , <%= item.content %></li>
        <%});%><% state.list.forEach(function(item,index){ %>
        <li><%= item.title %> , <%= item.content %></li>
        <%});%>
        <% state.list.forEach(function(item,index){ %>
        <li><%= item.title %>,<%= item.content %></li>
        <%});%>
    </ul>
    <div class="row">
        <%= state.a %> , <%= state.b %>
    </div>
</tmpl-block>