
<tmpl-extend file="__VIEW__/public/layout.tmpl"/>

<tmpl-block name="body">
    <ul>
        <% data.list.forEach(function(item,index){ %>
        <li><%= item.title %> , <%= item.content %></li>
        <%});%>
        <% data.list.forEach(function(item,index){ %>
        <li><%= item.title %> , <%= item.content %></li>
        <%});%><% data.list.forEach(function(item,index){ %>
        <li><%= item.title %> , <%= item.content %></li>
        <%});%>
        <% data.list.forEach(function(item,index){ %>
        <li><%= item.title %>,<%= item.content %></li>
        <%});%>
    </ul>
    <div class="row">
        <%= data.a %> , <%= data.b %>
    </div>
</tmpl-block>