<tmpl-extend file="__VIEW_HOME__/public/layout.tmpl"/>

<tmpl-block name="header">
    <tmpl-include file="__VIEW_HOME__/public/layout-header.tmpl"></tmpl-include>
</tmpl-block>

<tmpl-block name="body">
    <div class="row pd-10">
        <% if(this.isLogin(this.$ctx)){ %>
            <div class="row g-media-list">
                <div class="g-media-list-img left">
                    <img src="" alt="blue" width="60" height="60" class="g-bd-e5e"/>
                </div>
                <div class="g-media-list-content t-ellipsis t-ellipsis-2">
                    <div class="row">
                        username:<%= this.$ctx.user.username %>
                    </div>
                </div>
            </div>
        <% } else { %>
            <div class="row t-c">
                <a href="/home/common/login" class="g-btn g-btn-radius g-btn-primary">login</a>
                <a href="/home/common/register" class="g-btn g-btn-radius g-btn-danger">register</a>
            </div>
        <% } %>

        <!--列表-->

        <div class="g-panel g-panel-primary mg-t-10 border-radius">
            <div class="g-panel-title t-white">
                <span>
                    <%= this.$ctx.user ? 'my' : 'all'%> blog
                </span>
            </div>
            <% if(state.articleLists && state.articleLists.length){ %>
                <ul class="reset-ul reset-all-a g-link-666">
                    <% state.articleLists.forEach(function(item){ %>
                        <li class="pd-15">
                            <a href="<%= item._id %>">
                                <div class="row">
                                    <span class="f-b"><%= item.title %></span>
                                    <span class="f-0_7"><%= item.author %></span>
                                </div>
                                <div class="row">
                                  <%= item.content %>
                                </div>
                            </a>
                        </li>
                    <% }); %>
                </ul>
            <% } else { %>
                <div class="row t-c pd-15">
                    not blog
                </div>
            <% } %>
        </div>
    </div>
</tmpl-block>