<div class="g-flex pd-10 g-bg-white g-link-white g-flex-ai-c g-bd-tb-e5e t-c ps-f w-100 g-bg-primary reset-all-a" style="bottom:0;left:0;">
    <div class="g-flex-3">
        <a href="/home/index">Home</a>
    </div>
    <div class="g-flex-3">
        <a href="/home/article/publish">Publish</a>
    </div>
</div>