<html>
    <head>
        <title>

        </title>
        <script src="/js/jquery-2.0.0.min.js"></script>
    </head>
    <body>
        <tmpl-block name="header">
            header
        </tmpl-block>
        <tmpl-block name="body"></tmpl-block>
    </body>
</html>