<tmpl-extend file="__VIEW_HOME__/public/layout.tmpl"/>

<tmpl-block name="header">
    <tmpl-include file="__VIEW_HOME__/public/layout-header.tmpl"></tmpl-include>
</tmpl-block>

<tmpl-block name="body">
    123456
</tmpl-block>