<link rel="stylesheet" href="/public/valiform/css/valiform.css"/>
<script src="/public/valiform/Validform_v5.3.2.js" type="text/javascript" charset="utf-8"></script>
<script src="/public/valiform/ajax-ask.js" type="text/javascript" charset="utf-8"></script>
<script>
	$(function () {
		$.ajaxAsk();
	});
</script>